*.tfvars
*.tfstate*
.terraform.lock.hcl
.terraform/
.terratest/
vendor/
.test-data
.secret
kubeconfig/
deploy/
.DS_Store
.vscode
examples/iam-auth-and-irsa/k8s-cluster/builds
examples/kubernetes-cluster
