version: 2 

install_tools: &install_tools
  run: 
    name: Install tools
    command: |
      # Install AWS CLI and AWS IAM Authenticator
      if [ "${INSTALL_AWS_CLI}" == "true" ]; then
        sudo apt-get --allow-releaseinfo-change update && sudo apt-get install -y python3.9 python3-pip
        pip3 install awscli --upgrade --user
        sudo curl -o /usr/local/bin/aws-iam-authenticator https://s3.us-west-2.amazonaws.com/amazon-eks/1.21.2/2021-07-05/bin/linux/amd64/aws-iam-authenticator
        sudo chmod +x /usr/local/bin/aws-iam-authenticator
      fi

      # Install Terraform
      if [ "${INSTALL_TERRAFORM}" == "true" ]; then
        wget https://releases.hashicorp.com/terraform/${TF_VERSION}/terraform_${TF_VERSION}_linux_amd64.zip -O /tmp/terraform.zip
        sudo unzip -d /usr/local/bin/ /tmp/terraform.zip
      fi

      # Install kubectl
      if [ "${INSTALL_KUBECTL}" == "true" ]; then
        wget https://storage.googleapis.com/kubernetes-release/release/v${KUBE_VERSION}/bin/linux/amd64/kubectl -O /tmp/kubectl
        chmod +x /tmp/kubectl && sudo mv /tmp/kubectl /usr/local/bin/kubectl
      fi

default: &default
  docker: 
    - image: cimg/go:1.21
  environment:
    GO111MODULE: "on"
    TF_VERSION: "1.12.1"
    KUBE_VERSION: "1.31.1"
    AWS_SDK_LOAD_CONFIG: "True"
    INSTALL_AWS_CLI: "true"
    INSTALL_TERRAFORM: "true"
    INSTALL_KUBECTL: "true"

jobs: 
  validate-and-format:
    <<: *default
    environment:
      TF_VERSION: "1.5.7"
      INSTALL_TERRAFORM: "true"
    steps:
      - checkout
      - *install_tools
      - run:
          name: Terraform validate
          command: make validate
      - run:
          name: Terraform check format
          command: make fmt
  run-kubernetes-cluster-aws-vpc:
    <<: *default   
    steps:
      - checkout 
      - *install_tools
      - run: 
          name: Run tests for Kubernetes cluster (AWS VPC CNI)
          command: make test-kubernetes-cluster-aws-vpc
  run-kubernetes-cluster-cilium-vxlan:
    <<: *default   
    steps:
      - checkout 
      - *install_tools
      - run: 
          name: Run tests for Kubernetes cluster (Cilium VXLAN CNI)
          command: make test-kubernetes-cluster-cilium-vxlan

workflows:
  version: 2
  test:
    jobs:
      - validate-and-format
      - approval-run-kubernetes-cluster:
          type: approval
          requires:
            - validate-and-format
      - run-kubernetes-cluster-aws-vpc:
          requires:
            - approval-run-kubernetes-cluster
      - run-kubernetes-cluster-cilium-vxlan:
          requires:
            - approval-run-kubernetes-cluster