[Unit]
Description=Kubelet via Hyperkube ACI
Wants=rpc-statd.service
[Service]

Environment="RKT_RUN_ARGS=--uuid-file-save=/var/cache/kubelet-pod.uuid \
  --volume=resolv,kind=host,source=/etc/resolv.conf \
  --mount volume=resolv,target=/etc/resolv.conf \
  --volume aws-iam-authenticator,kind=host,source=/opt/bin/aws-iam-authenticator,readOnly=true \
  --mount volume=aws-iam-authenticator,target=/usr/bin/aws-iam-authenticator \
  --volume cni-config,kind=host,source=/etc/cni/net.d,readOnly=true \
  --mount volume=cni-config,target=/etc/cni/net.d \
  --volume aws-cni,kind=host,source=/opt/cni/bin,readOnly=true \
  --mount volume=aws-cni,target=/opt/cni/bin"

ExecStartPre=/bin/sh -c "INTERNAL_IP_VALUE=$(curl -s http://169.254.169.254/latest/meta-data/local-ipv4); \
                         if [[ $INTERNAL_IP_VALUE == 10.* ]] ; then  DNS_CLUSTER_IP_VALUE=172.20.0.10; \
                         else DNS_CLUSTER_IP_VALUE=10.100.0.10; fi; \
                         sed -i s/INTERNAL_IP_VALUE/$INTERNAL_IP_VALUE/g  /etc/kubernetes/kubelet.env; \
                         sed -i s/DNS_CLUSTER_IP_VALUE/$DNS_CLUSTER_IP_VALUE/g /etc/kubernetes/kubelet.env"

EnvironmentFile=/etc/kubernetes/kubelet.env

ExecStartPre=/bin/mkdir -p /etc/kubernetes/manifests
ExecStartPre=/bin/mkdir -p /etc/cni/net.d
ExecStartPre=/bin/mkdir -p /opt/cni/bin
ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/cache/kubelet-pod.uuid

ExecStart=/usr/lib/coreos/kubelet-wrapper \
  --allow-privileged=true \
  --cloud-provider aws \
  --cni-conf-dir=/etc/cni/net.d \
  --exit-on-lock-contention \
  --lock-file=/var/run/lock/kubelet.lock \
  --network-plugin=cni \
  ${kubelet_flag_kubeconfig} \
  ${kubelet_flag_cni_bin_dir} \
  ${kubelet_flag_config} \
  ${kubelet_flag_container_runtime} \
  ${kubelet_flag_max_pods} \
  ${kubelet_flag_node_labels} \
  ${kubelet_flag_pod_infra_container_image} \
  ${kubelet_flag_pod_manifest_path} \
  ${kubelet_flag_register_with_taints} \
  ${kubelet_flag_extra_flags}

ExecStop=-/usr/bin/rkt stop --uuid-file=/var/cache/kubelet-pod.uuid

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
