[Unit]
Description = Systemd unit for fetching cni
ConditionPathExists = !/opt/cni.done
Before = kubelet.service
After = network.target

[Service]
Type = oneshot
RemainAfterExit = true

User = root
Group = root

ExecStartPre = /usr/bin/mkdir -p /opt/cni/bin
ExecStartPre = /usr/bin/wget https://github.com/containernetworking/cni/releases/download/${cni_version}/cni-amd64-${cni_version}.tgz
ExecStartPre = /usr/bin/wget https://github.com/containernetworking/cni/releases/download/${cni_version}/cni-amd64-${cni_version}.tgz.sha512
ExecStartPre = /usr/bin/sha512sum -c cni-amd64-${cni_version}.tgz.sha512
ExecStart = /usr/bin/tar -xvf cni-amd64-${cni_version}.tgz -C /opt/cni/bin
ExecStartPost = /bin/touch /opt/cni.done
ExecStartPost = /usr/bin/rm cni-amd64-${cni_version}.tgz cni-amd64-${cni_version}.tgz.sha512

[Install]
WantedBy = multi-user.target
RequiredBy = node-exporter.service