[Unit]
Description=Kubernetes Addon Manager
After=kubelet.service

[Service]
Type=simple
RemainAfterExit=true

Environment=KUBECONFIG=/etc/kubernetes/kubeconfig
ExecStartPre=/usr/bin/mkdir -p ${addon_path}
ExecStart=/usr/bin/docker run --rm \
    --volume /etc/kubernetes:/etc/kubernetes \
    --volume ${addon_path}:${addon_path} \
    --network=host \
    ${hyperkube_image} \
    kubectl --kubeconfig=/etc/kubernetes/kubeconfig apply -f ${addon_path}

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
